<ion-app>

    <ion-menu side="start" type="push" #mymenu>
        <ion-header>
            <ion-toolbar color="dark">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <!-- List of Text Items -->
        <ion-content>
            <ion-list>
                <ion-item href="/" (click)="mymenu.close()">
                    <ion-label>Home</ion-label>
                </ion-item>
                <ion-item (click)="resetTutorial()">
                    <ion-label>Intro Tutorial</ion-label>
                </ion-item>
                <ion-item href="/todo" (click)="closeMenu()">
                    <ion-label>Todo List</ion-label>
                </ion-item>
            </ion-list>

        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>